{% extends 'blog/base.html' %}
{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>


            {% block content %}
                {% for post in posts %}
                    <div class="post">
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                            <p>{{ post.text|linebreaksbr }}</p><span style="background-color:yellow">Watson Says:</span>
        <p>Anger : {{ post.angerScore }} |
        Disgust : {{ post.disgustScore }} |
        Fear : {{ post.fearScore }} |
        Joy : {{ post.joyScore }} |
        Sad : {{ post.sadScore }}</p>

           <p> Translation into Spanish: {{ post.translation_spanish }} |
                     Word Count: {{ post.word_count }} |
                       Character Count: {{ post.character_count }}</p>
             <p> Personality Type: {{ post.personalityKind }} |
                 Personality Percentile Score {{ post.percentileValue }} |
                  Personality Score: {{ post.personalityTrait }}</p>
                    </div>
                {% endfor %}
            {% endblock %}


    </body>
</html>